.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.item1{
  background-color: aqua;
  width: 100%;
  height:100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav ul{
  display: flex;
  flex-direction: row;
  gap:20px;
}
.item2{
  background-color: blueviolet;
  width: 100%;
  height: 800px;
}